* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container2{
  width: 800px;
  height: 800px;
}

.p-disclaimer{
  color: white;
    font-size: small;
    text-align: center;

}

.disclaimer{
  background-color: gray;
}

.wrap-coins{
  background-color:rgb(36 47 61);
  display: flex;
}

.infoCoin{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: x-large;
  padding-top: 100px;
  padding-right: 20px;
}

.coin-app{
  width: 100%;
}

.coin-app2{
  width: 70%;
}

.disclaimer2{
  padding-top: 100px;
  font-size: small;
}

@media screen and (max-width: 1420px) {
  .wrap-coins{
    flex-direction: column;
  }
  .coin-app{
    width: 100vw;
  }

  .infoCoin{
    padding:40px;
  }
  .infoCoin h3{
    text-align: center;
  }
}